# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so


## UIWebView ##
*.xcworkspace
!default.xcworkspace
*.xcuserdata
xcuserdata
**/.DS_Store


## requirejs ##
/examples/requirejs/public/vendor/*

## android ##
/webviews/android/LinkWebview/*.iml
/webviews/android/LinkWebview/.gradle
/webviews/android/LinkWebview/local.properties
/webviews/android/LinkWebview/.idea/caches
/webviews/android/LinkWebview/.idea/libraries
/webviews/android/LinkWebview/.idea/modules.xml
/webviews/android/LinkWebview/.idea/workspace.xml
/webviews/android/LinkWebview/.idea/navEditor.xml
/webviews/android/LinkWebview/.idea/assetWizardSettings.xml
/webviews/android/LinkWebview/.DS_Store
/webviews/android/LinkWebview/build
/webviews/android/LinkWebview/captures
/webviews/android/LinkWebview/.externalNativeBuild
/webviews/android/LinkWebview/.cxx
/webviews/android/LinkWebview/local.properties
